.place__title {
  width: 100%;
  grid-area: title;
  font-family: 'Inter-Black', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 320px)  and (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}
