.page {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}


@media (min-width: 1280px) {
  .page {
    margin: 0 auto;
  }
}



