.intro__list {
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 33px 0 0 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .intro__list {
    margin: 34px 0 0 0;
  }
}
