.lead {
  width: calc(100% - 296px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 0 auto;
  position: relative;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .lead {
    width: 100%;
  }
}
