.cover__subtitle {
  width: calc(100% - 824px);
  margin: 32px auto 0 auto;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  z-index: 2;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .cover__subtitle {
    width: 360px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cover__subtitle {
    width: 360px;
  }
}


@media (min-width: 470px) and (max-width: 768px) {
  .cover__subtitle {
    width: 360px;
  }
}

@media (min-width: 320px) and (max-width: 470px) {
  .cover__subtitle {
    width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 0 auto;
  }
}
