.header {
  width: calc(100% - 96px);
  /* width: 928px; */
  height: 52px;
  margin: 28px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media (min-width: 320px) and (max-width: 768px) {
  .header {
      width: calc(100% - 48px);
  }
}
@media (max-width: 320px) {
  .header {
    width: calc(100% - 32px);
    height: 42px;
    margin: 16px auto 0 auto;
  }
}
