.place__text {
  max-width: 100%;
  grid-area: text;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
}
.place__text:first-child {
  margin-bottom: 26px;
}

@media (max-width: 1023px) {
  .place__text {
    font-size: 16px;
  }
}


@media (max-width: 767px) {
  .place__text:first-child {
    margin-bottom: 25px;
  }
}

@media (max-width: 470px) {
  .place__text {
    margin: 32px 16px 0 16px;
  }
}
