.place__text {
  width: 100%;
  grid-area: text;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__text {
    font-size: 16px;
  }
}


@media (min-width: 320px) and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    margin-top: 32px;
  }
}
