.intro {
  max-width: calc(100% - 590px);
  margin: 92px 0 0 148px;
}


@media (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    max-width: 690px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: 92px 0 0 48px;
  }
}

@media (max-width: 767px) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 92px auto 0 auto;
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-top: 64px;
  }
}
