.lead__subtitle {
  height: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 32px 0 0 0;
}
