.lead__subtitle {
  width: calc(100% - 344px);
  font-family: 'Inter-Regular', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 32px 0 0 0;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lead__subtitle {
    width: 640px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lead__subtitle {
    width: 640px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .lead__subtitle {
    width: 288px;
    height: 40px;
    margin: 16px 0 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}

