.place__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__link:hover {
  opacity: .8;
}

@media (max-width: 470px) {
  .place__link {
    text-align: center;
  }
}
