.cover__title {
  width: 56%;
  height: 152px;
  position: absolute;
  left: 232px;
  bottom: 293px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  text-align: center;
}
