.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 460px));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  "title website"
  "foto text";
  gap: 48px 32px;
  margin-top: 80px;
}
