.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 460px));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  "title website"
  "foto text";
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 92px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(2, minmax(min-content, 440px));
    gap: 48px 28px;
  }
}


@media (min-width: 470px) and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(2, minmax(min-content, 340px));
    gap: 48px 28px;
    margin-bottom: 72px;
  }
  .place:last-child{
    margin-bottom: 90px;
  }
}

@media (max-width: 470px) {
  .place {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    grid-template-areas:
      "title"
      "website"
      "foto"
      "text";
      gap: 0;
      margin-bottom: 50px;
  }
  .place:last-child {
    margin-bottom: 66px;
  }
}
