.footer {
  width: calc(100% - 96px);
  margin: 92px auto 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}


@media (min-width: 470px) and (max-width: 768px) {
  .footer {
    width: 720px;
    margin: 88px auto 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 470px) {
  .footer {
    width: 186px;
    margin: 64px 0 0 16px;
    flex-direction: column;
    justify-content: space-between;
  }
}
