.photos {
  width: 91%;
  height: 942px;
  margin: 92px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 14px;
}

/* @media (min-width: 1024px) and (max-width: 1280px) {
  .photos {
      width: 1184px;
      height: 671px;

  }
} */
