.photos {
  width: calc(100% - 96px);
  margin: 92px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .photos {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photos {
    width: calc(100% - 48px);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  }
}

@media (max-width: 320px) {
  .photos {
    width: calc(100% - 32px);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    gap: 12px;
    margin-top: 64px;
  }
}
